<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Current_1
  </title>
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='fonts/ionicons.min.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=News+Cycle') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/-Countdown-BS4-.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/-Fixed-Navbar-start-with-transparency-BS4-.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Bold-BS4-Animated-Back-To-Top.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Features-Boxed.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Footer-Clean.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Highlight-Phone.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/navbar1.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Google-Style-Login.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Profile-Edit-Form.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Profile-Edit-Form1.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Sidebar-Menu.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Sidebar-Menu1.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/Smooth-Scrollto-button-read-Description.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
 </head>
 <body>
  <div>
   <header>
    <div class="d-flex align-items-center" style="height:100vh;background-color:#439d4c;background-image:url({{ url_for('static', filename='img/School.png') }});">
     <div class="text-center w-100 text-white">
      <h1 style="color:rgb(255,255,255);font-family:'News Cycle', sans-serif;">
       Aphel
      </h1>
      <h2 class="font-weight-normal" style="font-family:'News Cycle', sans-serif;color:#ffffff;font-size:25px;">
       <em>
        Sign up for Aphel today, and get more connected to your school!
       </em>
       <br/>
      </h2>
      <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu" style="color:rgb(255,255,255);background-color:#439d4c;padding-bottom:0px;padding-top:0px;">
       <div class="container">
        <a class="navbar-brand text-success" href="index.html" style="font-family:'News Cycle', sans-serif;font-size:39px;">
         <img alt="Aphel Technologies" class="img-fluid" height="10px" src="{{ url_for('static', filename='img/Aphel_icon.png') }}" style="padding-right:0px;margin-right:10px;margin-bottom:7px;font-size:41px;width:97px;" width="50px"/>
        </a>
        <button class="navbar-toggler collapsed" data-target="#navcol-1" data-toggle="collapse">
         <span>
         </span>
         <span>
         </span>
         <span>
         </span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="font-family:'News Cycle', sans-serif;font-size:22px;">
         <ul class="nav navbar-nav ml-auto">
          <li class="dropdown">
           <a aria-expanded="false" class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="padding-right:20px;">
            <i class="fa fa-info-circle" style="padding-right:7px;">
            </i>
            Info
           </a>
           <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="http://pchacks.ca/index.html#about" role="presentation">
             <i class="fa fa-handshake-o" style="padding-right:5px;">
             </i>
             About Us
            </a>
            <a class="dropdown-item" href="http://pchacks.ca/index.html#contact" role="presentation">
             <i class="fa fa-volume-control-phone" style="padding-right:5px;">
             </i>
             Contact
            </a>
           </div>
          </li>
          <li class="nav-item" role="presentation">
           <a class="nav-link" href="login.html" style="padding-right:20px;">
            <i class="fa fa-sign-in" style="padding-right:7px;">
            </i>
            Login
           </a>
          </li>
          <li class="nav-item" role="presentation">
           <a class="nav-link" href="register.html" style="padding-right:20px;">
            <i class="fa fa-wpforms" style="padding-right:7px;">
            </i>
            Register
           </a>
          </li>
         </ul>
        </div>
       </div>
      </nav>
     </div>
    </div>
   </header>
  </div>
  <div class="features-boxed" style="background-color:rgb(239,234,234);font-family:'News Cycle', sans-serif;padding:10px;">
   <div class="container" style="padding:19px;">
    <div class="intro" style="padding:0px;">
     <h2 class="text-center" style="padding:0px;font-style:normal;">
      Features
     </h2>
    </div>
    <div class="row justify-content-center features" style="margin:-40px -10px;">
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-envelope-o icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Notification System
       </h3>
       <p class="description">
        Sends you notifications when an announcement is posted so that you can stay connected
        <br/>
       </p>
      </div>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-drivers-license-o icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Efficient
       </h3>
       <p class="description">
        Aphel's optimization allows you to check all of your announcements in an instant.
       </p>
      </div>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-calendar icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Up-To-Date
       </h3>
       <p class="description">
        Accurate announcement posting to keep you aware of all upcoming events.
       </p>
      </div>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-sign-in icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Sign In
       </h3>
       <p class="description">
        Sign in system to let you recieve personalized announcements based on your clubs.
       </p>
      </div>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-lock icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Secure
       </h3>
       <p class="description">
        Our top-notch encryption makes sure that all of your information is safe.
        <br/>
       </p>
      </div>
     </div>
     <div class="col-sm-6 col-md-5 col-lg-4 item">
      <div class="box edges">
       <i class="fa fa-id-badge icon" style="color:#439d4c;">
       </i>
       <h3 class="name">
        Mobile-Friendly
       </h3>
       <p class="description">
        Works seamlessly on PC and mobile to ensure compatibility.
        <br/>
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="features-boxed" style="background-color:rgb(211,207,207);font-family:'News Cycle', sans-serif;padding:10px;">
   <div class="container">
    <div class="intro">
     <h2 class="text-center">
      How Do I Use Aphel?
     </h2>
     <div class="row justify-content-center">
      <img class="img-fluid" src="{{ url_for('static', filename='img/iphone.png') }}"/>
     </div>
     <p class="text-center" style="font-size:23px;color:rgba(37,37,37,0.96);">
      Aphel is very easy to use. Create an account using your Peel District School Board email and go straight to the dashboard page. Here all of your anncoments will be posted. To add your own announcements, go create an announcement and simply
                    wait for teacher authorization to have it sent!
      <br/>
     </p>
    </div>
   </div>
  </div>
  <div class="footer-basic" style="background-color:#439d4c;">
   <footer>
    <div class="social">
     <a href="https://www.instagram.com/pchackingsquad/" style="color:rgb(255,255,255);">
      <i class="icon ion-social-instagram">
      </i>
     </a>
     <a href="#" style="color:rgb(255,255,255);">
      <i class="icon ion-social-twitter" style="color:rgb(255,255,255);">
      </i>
     </a>
    </div>
    <ul class="list-inline">
    </ul>
    <p class="copyright" style="color:rgb(255,255,255);">
     Alphel @ 2018
    </p>
   </footer>
   <a class="cd-top js-cd-top cd-top--fade-out cd-top--show" href="#0" style='background-image:url("assets/img/cd-top-arrow.svg");width:40px;height:40px;'>
    Top
   </a>
  </div>
  <section class="d-block">
  </section>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/-Countdown-BS4-.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/-Fixed-Navbar-start-with-transparency-BS4-.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/Bold-BS4-Animated-Back-To-Top.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/Profile-Edit-Form.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/Sidebar-Menu.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/Smooth-Scrollto-button-read-Description.js') }}">
  </script>
 </body>
</html>