
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <h1>Welcome</h1>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="{{url_for('static', filename='/lib/bower_components/crypto-js/crypto-js.js.js')}}"></script>

  <script src="{{url_for('static', filename='scripts/server_bridge.js')}}"></script>

  <script>
  /*server_bridge = new ServerBridge();
  server_bridge.sendToServer({"user":["alice", "1121"]})
  server_bridge.getFromServer({"all_users":true})
  server_bridge.getFromServer({"get_user":"alice"})*/
  </script>

</html>
