<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webapp</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="../static/css/-Countdown-BS4-.css">
    <link rel="stylesheet" href="../static/css/-Fixed-Navbar-start-with-transparency-BS4-.css">
    <link rel="stylesheet" href="../static/css/Bold-BS4-Animated-Back-To-Top.css">
    <link rel="stylesheet" href="../static/css/Features-Boxed.css">
    <link rel="stylesheet" href="../static/css/Footer-Clean.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/css/Highlight-Phone.css">
    <link rel="stylesheet" href="../static/css/input/input_errors.css">
    <link rel="stylesheet" href="../static/css/Google-Style-Login.css">
    <link rel="stylesheet" href="../static/css/input/input_sucesses.css">
    <link rel="stylesheet" href="../static/css/navbar1.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../static/css/Profile-Edit-Form1.css">
    <link rel="stylesheet" href="../static/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="../static/css/Sidebar-Menu1.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/Smooth-Scrollto-button-read-Description.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/quill.css">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</head>

<body>
    <div>
        <header>
            <div class="row d-block" style="height:238px;background-color:#eeeeee;">
                {{ navbar }}
            </div>
            <div class="d-flex align-items-center" style="height:97vh;background-color:rgb(238,238,238);font-family:'News Cycle', sans-serif;padding:40px;padding-top:48vh;padding-bottom:80vh;">
                <div class="text-center w-100 text-white">
                    <div class="container profile profile-view" id="profile">
                        <div class="row">
                            <div class="col-md-12 alert-col relative">
                                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
                            </div>
                        </div>
                        <form id="profile_form">
                            <div class="form-row profile-row" style="font-family:'News Cycle', sans-serif;color:rgb(0,0,0);">
                                <div class="col-md-4 relative">
                                    <div class="avatar">
                                        <div id="profile_avatar" class="avatar-bg center" style="background-image: url('{{ image_url }}')"></div>
                                    </div>
                                    <input id="profile_image" type="file" class="form-control">
                                </div>
                                <div class="col-md-8">
                                    <h1>Profile </h1>
                                    <hr>
                                    <div class="form-row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label> First Name </label>
                                                <input id="firstname" class="form-control" type="text" value="{{ firstname }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label> Last Name </label>
                                                <input id="lastname" class="form-control" type="text" value="{{ lastname }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Email </label>
                                        <input id="email" disabled class="form-control" value="{{ uid }}">
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="form-group">
                                                <label id="grade_label">Grade</label>
                                                <select id="grade">
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-12 content-right">
                                        <button id="save_button" class="btn btn-primary form-btn" type="submit">SAVE </button>
                                        <button id="cancel_button" class="btn btn-danger form-btn" type="reset">CANCEL </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
    </div>
    </header>
    </div>
    <section class="d-block"></section>

    <div class="footer-basic" style="background-color:#439d4c;">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com/pchackingsquad/" style="color:rgb(255,255,255);">
                    <i class="icon ion-social-instagram"></i>
                </a>
                <a href="#" style="color:rgb(255,255,255);">
                    <i class="icon ion-social-twitter" style="color:rgb(255,255,255);"></i>
                </a>
            </div>
            <ulclass="list-inline"></ul>
            <p class="copyright" style="color:rgb(255,255,255);">Alphel @ 2018</p>
        </footer>

        <a href="#0" class="cd-top js-cd-top cd-top--fade-out cd-top--show" style="background-image:url('../static/img/cd-top-arrow.svg');width:40px;height:40px;">
            Top
        </a>
    </div>

    <script src="../static/js/server_function/announcement_editor.js"></script>
    <script src="../static/js/server_function/server_bridge.js"></script>
    <script src="../static/js/init.js"></script>

    <script type="text/javascript">
        // User
        let uid = "{{ uid }}";
        let firstname = "{{ firstname }}";
        let lastname = "{{ lastname }}";
        let grade = "{{ grade }}";

        // HTML
        let firstname_input = $("#firstname");
        let lastname_input = $("#lastname");
        let profile_avatar = $("#profile_avatar");
        let profile_image_input = $("#profile_image");

        let grade_label = $("#grade_label");
        let grade_input = $("#grade");


        if(grade != "")
        {
            grade_input.children().each(function()
            {
                if(this.value.toString() == grade)
                {
                    this.selected = 'selected';
                }
            });
        }
        else
        {
            grade_input.hide();
            grade_label.hide();
        }

        profile_image_input.change(function()
        {
            // Display Image on Client
            let profile_image = document.getElementById('profile_image').files[0];
            let reader = new FileReader();
            reader.addEventListener('load', function (event)
            {
                console.log(event.target.result);
                profile_avatar.css({"background-image": "url(" + event.target.result + ")"});
            });

             reader.readAsDataURL(document.getElementById('profile_image').files[0]);
        });



        $("#profile_form").on("submit", function ()
        {
            let grade = 0;
            if (grade_input.is(":visible"))
            {
                grade = grade_input.val();
            }

            server_bridge.sendToServer("", {
                    "function": "save_profile_data",
                    "data": {
                        "firstname": firstname_input.val(), "lastname": lastname_input.val(),
                        "grade": grade
                    }
                },
            function (response)
            {
                console.log("Profile Successfully Saved!")

                //location.replace(server_bridge.host + "/profile");
            });

            let profile_image = document.getElementById('profile_image').files[0];
            let reader = new FileReader();
            reader.addEventListener('load', function (event)
            {
                $.ajax({
                    url: server_bridge.host+"/file_upload",
                    type: "POST",
                    dataType: "binary",
                    processData: false,
                    data: event.target.result,
                    crossOrigin: true,
                    success: function(result){
                        // do something with binary data
                    }
                });

            });

            if(profile_image != null)
            {
                reader.readAsArrayBuffer(profile_image);
            }


            //location.replace(server_bridge.host + "/profile");
            return false;
        });


    </script>

</body>

</html>
